@use '../../../styles/variables' as *;


.wrapper {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  textarea {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 160px;
    padding: 16px;
    line-height: 22px;
    background-color: $black;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
    font-family: $font-family;
    resize: none;
    color: $txt-color;
    &:target , &:active {
      border: 1px solid black;
    }
  }
  .input_frame {
    position: relative;
  }
  .required_input {
    color: red;
  }
}