@use '../../../styles/variables' as *;


.wrapper {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  .input_label {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  textarea {
    display: flex;
    align-items: center;
    height: 160px;
    padding: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    background-color: $black;
    border: 1px solid black;
    border-radius: 8px;
    resize: none;

    &:target , &:active {
      border: 1px solid black;
    }
  }
  .input_frame {
    position: relative;
  }
  .required_input {
    color: red;
  }
}