.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

  .item {
    .img {
      margin-bottom: 0.5rem;
      padding-top: 160px;
      background-size: cover;
      border-radius: 10px;
    }

    .name {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
