@use '../../../../styles/variables' as *;


.wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .file {
    border-radius: 5px;
    max-height: 100px;
    width: 70px;
  }

  .btn {
    padding: 10px;
    color: $txt-color;
    background: $black;
    border-radius: 8px;
    border: none;
  }
}

.form {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 60px;
}
