@use '../../../styles/index' as *;

.movieCard {
  position: relative;
  margin-bottom: 1rem;
  padding-top: 160%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: $border-radius;

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .favorite {
    z-index: 1000;
    position: absolute;
    top: 10%;
    right: -10%;
    transform: translate(-50%, -50%) scale(0);
    transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    border-radius: $border-radius;
    opacity: 0;
    transition: opacity 0.3s ease;
    content: '';
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      opacity: 0.8;
    }

    &:hover .btn {
      transform: translate(-50%, -50%) scale(1);
    }

    &:hover .favorite {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.cardTitle {
  text-align: center;
}
