.uploadImageContainer {
  width: 100%;

  position: relative;
}

.uploadInputLabel {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.uploadedImage {
  width: auto;
  height: auto;
  max-height: 200px;
}

.uploadImagePlaceholder {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  align-items: center;
  color: white;
}

.uploadInput {
  display: none;
}