.curve{
  svg, .background{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
    width: 100vw;
    height: calc(100vh + 600px);
    pointer-events: none;
  }

  .background{
    background-color: black;
    transition: opacity 0s linear 0.1s;
  }

  .route{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1001;
    color: white;
    font-size: 46px;
    text-align: center;
    transform: translateX(-50%);

  }

}