.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 100%
}

.title {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.form {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 30px;
}

.content {
  gap: 30px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  color: white;
}

.input {
  padding: 8px;
  color: white;
  background: black;
  border: 1px solid white;
  border-radius: 5px;
}

.error {
  margin-top: 5px;
  color: red;
}

.btn {
  margin: 0 auto;
  max-width: 300px;
}
