.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 500px;
  width: 100%
}

.title {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.form {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 30px;
}

.content {
  gap: 30px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.btn {
  max-width: 300px;
}
